<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Eliminar</title>
</head>
<body>
    <center>
    <br>
    <h1>Eliminar</h1>
    <br>
    <br>
    
    <form action="/eliminarAlb/{{album.0}}" method="POST" >
        <h2>Estas Seguro de que deseas eliminar el registro?</h2>
        <input type="text" name="txtTitulo" value="{{album.1}}" readonly>
        <input type="text" name="txtArtista" value="{{album.2}}" readonly>
        <input type="number" name="txtAnio" value="{{album.3}}" readonly>

        <button type="submit">Eliminar</button>
    </form>
    </center>
</body>
</html>